<html>
  <head>
    <title>Tasks</title>
    
  </head>
  <body>
    <div class="jumbotron">
        <h1>Index</h1>
      <div id="index-table">
        <table>
          <tr>
            <th>Subject</th>
            <th>Category</th>
            <th>Point Value</th>
            <th>Author</th>
          </tr>

          <% @tasks.each do |t| %>
            <tr>
              <td>
                <p><%= t.subject %></p>
              </td>
              <td>
                <p><%= t.category %></p>
              </td>
              <td>
                <p><%= t.points %></p>
              </td>
              <td>
                <p><%= t.author %></p>
              </td>
              <td>
                <%= link_to 'View', task_path(t) %>
              </td>
              <td>
                <%= button_to 'Delete', task_path(t), method: :delete %>
              </td>

            </tr>
          <% end %>
        </table>

      </div>
    </div>


    
    
      <button class="button"><a href="tasks/new" >Submit a Report</a></button>
      <button class="button"><a href="users" >View Users</a></button>
  </body>
</html>