<!doctype html>
<html>
  <head>
    <title>Tasks</title>
  
  </head>
  <body>
    <div class="jumbotron" id="header">
      <div class="row">
        <div class="col"><h4><a href="tasks">Home</a></h4></div>
        <div class="col"><h1>Tasks Index</h1></div>
        <div class="col"><h4><a href="tasks/new">Add a new task</a></h4></div>
      </div>
    </div>
    
    <div class="jumbotron" id="main">
      <div class="row">
      <% count = 0 %>
      <% @tasks.each do |t| %>
      
      <div class="col-sm-4" id="tasks-all">
        <p id="subject"><b>Subject:</b> <%= t.subject %></p>
        <p id="category"><b>Category:</b> <%= t.category %></p>
        <p id="points"><b>Points:</b> <%= t.points %></p>
        <p id="author"><b>Author:</b> <%= t.author %></p>
        <%= link_to 'View Task', task_path(t) %>
      </div>
      <% count = count + 1 %>
      <% if count % 3 == 0 then %>
      <div class="w-100"></div>
      <% end %>
      <% end %>
      </div>

      
    </div>
    
  </body>
</html>

<!--
<table>
    <% @tasks.each do |t| %>
          <tr>
            <td>
            <p><%= t.subject %></p>
          </td>
          <td>
            <p><%= t.category %></p>
          </td>
          <td>
            <p><%= t.points %></p>
          </td>
          <td>
            <p><%= t.author %></p>
          </td>
          <td>
            <%= link_to 'View', task_path(t) %>
          </td>
          
        </tr>
      <% end %>
      </table>
-->