<html>
  <head>

    <title>Tasks</title>

    <%= stylesheet_link_tag "tasks", media: "all", "data-turbolinks-track" => "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

  </head>
  <body>
    <div class="container" id="index-title">
      <% if @tasks %>
      <div class="row" id="all-tasks">
      <div class="col"></div>
      <div class="col">
        <% @tasks.each do |t| %>
            <div class="card large light-blue" style="height: 225px; width: 500px;" id="single-task">
              <div class="card-content white-text">
                <span class="card-title" style="font-size: 25px" id="user"><i><b><%= t.author %></b></i></span>
                <p id="time"><%= t.show_time %></p>
                <p id="subject" style="font-size: medium"><%= t.subject %><p/>
                <p id="category" style="font-size: medium"><%= t.category %><p/>
                <p id="points" style="font-size: medium"> Points: <%= t.points %><p/>
                <!--<p style="font-size: medium"> Image: <%= image_tag(t.image_url(:thumb).to_s) %></p>-->
                <button class = "btn waves-effect waves-light white"  id="view-task"><%= link_to('See More', task_path(t)) %></button>

             
              </div>
            </div>
        <% end %>
      <% end %>
      </div>
    <div class="col"></div>
      </div>
    </div>
    <div class="container" id="bottom-left">
      <div class="fixed-action-btn">
        <a href="/tasks/new" class="btn-floating btn-large waves-effect waves light-blue darken-4"><i class="material-icons">add</i></a>
      </div>
    </div>

      <script type="text/css" src="../../../public/materialize.min.js"></script>

  </body>
</html>