<html>
  <head>

    <title>Tasks</title>

    <%= stylesheet_link_tag "tasks", media: "all", "data-turbolinks-track" => "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

  </head>
  <body>
    <div class="container" id="index-title">
      <h3>All Tasks</h3>
    </div>
      <% if @tasks %>
      <div class="row" id="all-tasks">
      <div class="col"></div>
      <div class="col">
        <% @tasks.each do |t| %>
            <div class="card large light-blue darken-1"  id="single-task">
              <div class="card-content white-text">
              <div class="card-title" id="user">
                <h3> <%= t.author %></h3>
              </div>
              <p id="subject" style="font-size: medium"><%= t.subject %><p/>
              <p id="category" style="font-size: small"><%= t.category %><p/>
              <p id="points"> Points: <%= t.points %><p/>
              <p id="description"><%= t.description %><p/>
              <h3> Image: <%= image_tag t.image.thumb.url %></h3>
              <div class="card-action" id="view-task">
                <%= link_to('See More', task_path(t)) %>
              </div>
              </div>
            </div>
        <% end %>
      <% end %>
      </div>
      <div class="col"></div>

      </div>
    </div>

      <script type="text/css" src="../../../public/materialize.min.js"></script>

  </body>
</html>