<html>
  <head>

    <title>Tasks</title>

    <%= stylesheet_link_tag "tasks", media: "all", "data-turbolinks-track" => "reload" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

  </head>
  <body>
    <div class="container" id="index-title">
    </div>
      <% if @tasks %>
      <div class="row" id="all-tasks">
      <div class="col"></div>
      <div class="col">
        <% @tasks.each do |t| %>
            <div class="card large red darken-1"  id="single-task">
              <div class="card-content white-text">
                <span class="card-title" style="font-size: large" id="user"><i> <%= t.author %></i></span>
                <p id="subject" style="font-size: medium"><%= t.subject %><p/>
                <p id="category" style="font-size: medium"><%= t.category %><p/>
                <p id="points" style="font-size: medium"> Points: <%= t.points %><p/>
                <p id="description" style="font-size: medium;"><%= t.description %><p/>
                <p style="font-size: medium"> Image: <%= image_tag t.image.thumb.url %></p>
                <div class="card-action" style="color: white" id="view-task">
                <%= link_to('See More', task_path(t)) %>
              </div>
              </div>
            </div>
        <% end %>
      <% end %>
      </div>
      <div class="col"></div>

      </div>
    </div>

      <script type="text/css" src="../../../public/materialize.min.js"></script>

  </body>
</html>