<html>
  <head>
    <title>Tasks</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1>Index</h1>
        <p>This is where all tasks are listed</p>
    </div>
    
    <div id="index-table">
        <table>
          <tr>
            <th>Subject</th>
            <th>Category</th>
            <th>Point Value</th>
            <th>Author</th>
          </tr>
           
          <% @tasks.each do |t| %>
          <tr>
            <td>
            <p><%= t.subject %></p>
          </td>
          <td>
            <p><%= t.category %></p>
          </td>
          <td>
            <p><%= t.points %></p>
          </td>
          <td>
            <p><%= t.author %></p>
          </td>
          <td>
            <%= link_to 'View', task_path(t) %>
          </td>
          
        </tr>
      <% end %>
      </table>
      
      </div>
    
    
      <h1><a href="tasks/new">Add a new task</a></h1>
  </body>
</html>