<html>
  <head>

    <title>Tasks</title>
    <link rel="stylesheet" href="tasks.scss">
  </head>
  <body>
  <div class="jumbotron" style="background-color: #338CC8;">
      <div class="container" id="index-table">
        <table>
          <div class="row">
            <div class="col-md-3" style="color:white"><h2>Author</h2></div>
            <div class="col-md-3" style="color:white"><h2>Subject</h2></div>
            <div class="col-md-3" style="color:white"><h2>Category</h2></div>
            <div class="col-md-3" style="color:white"><h2>Point Value</h2></div>

          </div>

          <% @tasks.each do |t| %>
            <div class="card" style="margin-top:15px; margin-bottom: 15px">
            <div class="card-body">
            <div class="row">
              <div class="col-lg-3" style="color: #338CC8">
                <h3><%= t.author %></h3>
              </div>
              <div class="col-lg-3" style="color: #338CC8">
                <h3><%= t.subject %></h3>
              </div>
              <div class="col-lg-3" style="color:#338CC8">
                <h3><%= t.category %></h3>
              </div>
              <div class="col-lg-2" style="color:#338CC8">
                <h3><%= t.points %></h3>
              </div>
              <div class="col-lg-1" style="color:#338CC8">
                <%= link_to 'View', task_path(t) %>
              </div>
            </div>
            </div>
            </div>
          <% end %>
        </table>
      </div>
      </div>



      <div class="container">
        <div class="row">
        <div class="col-lg-6">
          <button type="button" class="btn btn-outline-primary custom-btn btn-lg"><a href="tasks/new">Submit a Report</a></button>
        </div>
        <div class="col-lg-6">
           <button type="button" class="btn btn-outline-primary btn-lg"><a href="users">View Users</a></button>
        </div>
      </div>
      </div>
  </body>
</html>