<html>
    <head>
        <title>
           Submit a Report
        </title>
    </head>
    <body>
        <h1>Submit a Report</h1>
        <%= form_for Task.new do |t| %>
        
            <%= t.hidden_field :author, value: current_user.username %>
            <%= t.hidden_field :user_id, value: current_user.id %>
            
            <%= t.label :subject, "Subject" %>
            <%= t.text_field :subject %>
            
            <%= t.label :category, "Category" %>
            <%= t.text_field :category %>
            
            <%= t.label :points, "Points" %>
            <%= t.text_field :points %>
            
            
            <%= t.submit "Submit Task" %>
        <% end %>
    </body>
</html>