<html>
    <head>
      <link type="text/css" rel="stylesheet" href="materialize.min.css"  media="screen,projection"/>

      <title>
           Submit a Report
        </title>
    </head>
    <body>
        <h1>Submit a Report</h1>
        <%= form_for Task.new do |t| %>
        
            <%= t.hidden_field :author, value: current_user.username %>
            <%= t.hidden_field :user_id, value: current_user.id %>
            
            <div class="input-field">
              <%= t.label :subject, "Subject" %>
              <%= t.text_field :subject %>
            </div>
            <%= t.label :category, "Category" %>
            <%= t.select :category, Options['Categories'] %>
            
            <%= t.label :points, "Points" %>
            <%= t.select :points, ((1..10).map {|i| [i,i] }) %>
            
            <%= t.label :description, "Description" %>
            <%= t.text_field :description %>
            
            <%= t.label :image %><br>
            <%= t.file_field :image %>
            
            <%= t.submit "Submit Task" %>
        <% end %>
    </body>
</html>