<html>
    <head>
        <title>
           Submit a Report
        </title>
    </head>
    <body>
        <h1>Submit a Report</h1>
        <%= form_for @task do |t| %>
        
            <%= t.label :subject, "Subject" %>
            <%= t.text_field :subject %>
            
            <%= t.label :category, "Category" %>
            <%= t.text_field :category %>
            
            <%= t.label :points, "Points" %>
            <%= t.text_field :points %>
            
            <%= t.label :user, "User"  %>
            <%= t.text_field :user %>
            
            <%= t.submit "Submit Task" %>
        <% end %>
    </body>
</html>