<html>
    <head>
        <title>
            New Task
        </title>
        <%= stylesheet_link_tag 'tasks' %>
    </head>
    <body>
        <h1>View Task</h1>
        <div class="container" id="index-table">
            <div class="container" id="single-task">
                <div class="container" id="user">
                    <h3> <%= @task.author %></h3>
                </div>
                <h3 id="subject"><%= @task.subject %></h3>
                <h3 id="category"><%= @task.category %></h3>
                <h3 id="points"> Points: <%= @task.points %></h3>
                <h3 id="description"><%= @task.description %></h3>
            </div>
        </div>
        
        
        <%= link_to 'View all tasks', root_path %>
        <%= link_to 'Delete', task_path(@task), method: :delete %>
    </body>
</html>