<html>
<head>
    <title>Admin Page</title>
    <%= stylesheet_link_tag "users", media: "all", "data-turbolinks-track" => "reload" %>
</head>
<body>
    
    <%= @users.each do |u| %>
    <div class="container" id="user-title">
        <div class="container">
            <h2><%= u.first_name%> <%= u.last_name%></h2>
            <%= image_tag(u.picture, {:style => 'width: 50px'}) %>
        </div>
    </div>
        
        
    <div class="container" id="user-table">
        <div class="container" id="user-one">
            <h3> <%= u.username %></h3>
            <h3 id="email"> Email: <%= u.email %></h3>
            <h3 id="points"> Total Points: <%= u.pointtotal %></h3>
            <%= link_to "Delete User", user_path(u), method: :delete,  data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit User", edit_user_path(u) %>
        </div>
    </div>
    <% end %>
        

</body>
</html>