<html>
<head>
    <title>Edit</title>
</head>
<body>
    
<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if !@user.username %>
    <h1>Hi, <%= @user.first_name %></h1>
    <p>To finish signing up, choose a username</p>
    <%= form_for @user do |u| %>
        <%= u.hidden_field :pointtotal, value: 0 %>
    
        <%= u.label :username %>
        <%= u.text_field :username %>
        
        <%= u.submit "Submit" %>
    <% end %>
<% else %>
    <%= form_for @user do |u| %>
    
        <%= u.label :username %>
        <%= u.text_field :username %>
        
        <% if current_user.admin? %>
            <%= u.label :admin %>
            <%= u.check_box :admin %>
        <% end %>
        
        <%= u.submit "Submit" %>
    <% end %>
    
    <%= link_to "Delete Account", user_path(@user), method: :delete,  data: { confirm: "Are you sure? This will also delete all assocaiated tasks." } %>
<% end %>
</body>
</html>