<html>
  <head>
    <title>Users</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <h1>Index</h1>
        <p>This is where all users are listed</p>
    
        <table>
          <% @users.each do |t| %>
          <tr>
          <td>
            <p><%= t.first_name %></p>
          </td>
          <td>
            <p><%= t.last_name %></p>
          </td>
          <td>
            <p><%= t.email %></p>
          </td>
          <td>
            <p><%= t.username %></p>
          </td>
          <td>
            <p><%= t.organization %></p>
          </td>
          <td>
            <p><%= t.pointtotal %></p>
          </td>
          <td>
            <%= link_to 'View', user_path(t) %>
          </td>
          <td>
            <%= button_to 'Delete', user_path(t), method: :delete %>
          </td>
          
        </tr>
      <% end %>
      </table>
    
    
      <h1><a href="users/new">Add a new user</a></h1>
      <h1><a href="tasks">View all tasks</a></h1>
      </div>
    </div>
  </body>
</html>