<html>
    <head>
        <title>
            View User
        </title>
    </head>
    <body>
        <h1>View User</h1>
        <p><%= @user.first_name %></p>
        <p><%= @user.last_name %></p>
        <p><%= @user.email %></p>
        <p><%= @user.username %></p>
        <p><%= @user.organization %></p>
        <p><%= @user.pointtotal %></p>
        <%= link_to 'View all users', user_path(@user), method: :index %>
        <%= link_to 'Delete', user_path(@user), method: :delete %>
    </body>
</html>